@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/nunito-sans-v19-latin-200.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/nunito-sans-v19-latin-300.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito-sans-v19-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/nunito-sans-v19-latin-500.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/nunito-sans-v19-latin-600.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nunito-sans-v19-latin-700.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/nunito-sans-v19-latin-800.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/nunito-sans-v19-latin-900.woff2') format('woff2'); 
}


body{
   font-family: 'Nunito Sans';
   background-color: #13192B;
}
.font-noto{
    font-family: "Noto Sans", sans-serif;
}
.scroll-thin {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

.scroll-thin::-webkit-scrollbar {
  width: 6px;
}

.scroll-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 10px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
iframe.goog-te-banner-frame {
  display: none !important;
}

.goog-te-banner-frame {
  display: none !important;
}

iframe.goog-te-banner-frame {
  display: none !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
  position: static !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0px !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd{
  visibility: hidden !important;
  height: 0 !important;
}